rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow read and write access for development purposes.
    // In a production app, you would restrict this to authenticated users.
    match /{allPaths=**} {
      allow read, write;
    }
  }
}
